/* global */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}
body {
    font-size: 2rem;
}

li {
    list-style: none;
}

h6 {
    color: #fff;
    background-color: #000;
    padding: 10px;
}

/* filter header */
.filter-section__header {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    background-color: rgb(101, 161, 99);
}

.show-btn-small-screen {
    display: none;
}

/* filter left menu filter and products */
#lots {
    min-height: 100vh;
    padding-bottom: 30px;
}

.filter-and-produts {
    position: relative;
    display: flex;
}

.filter-pagination-wrap {
    width: 100%;
}
.filter-section__produts {
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.category li h6, .category li ul {
    background: rgb(203, 228, 187);
    margin-left: 1rem;
}

.product {
    margin: 0.5rem;
    width: 100%;
    max-width: 300px;
    height: 300px;
    padding: 10px;
    box-shadow: 0 0 5px #000;
    box-sizing: border-box;

}
.product > h3 {
    margin-top: 10px;
    text-align: center;
}

.product-img {
    margin: auto;
    display: block;
    max-width: 300px;
    max-height: 100px;
    min-height: 100px;
}


@media screen and (max-width: 425px) {
    .category__list > div {
        position: absolute;
        top: 0;
        left: -200px;
        padding: 10px;
        width: 173px;
        background: rgb(203, 228, 187);
        transition: .5s;
        box-sizing: border-box;
    }
    .category__list > .show__filters {
        left: 0;
        min-height: 100%;
    }

    .show-btn-small-screen {
        display: block;
        width: 40%;
        border-radius: 4px;
        margin: 0.3rem;
        font-size: 2rem;
        background-color: #222741;
        border: none;
        color: #0b0c11;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }
    .product {
        max-width: 135px;
        height: 250px;
        display: flex;
        flex-direction: column;
    }
    .product-img {
        max-width: 100%;
        min-height: initial;
    }

    .items-on-the-page {
        display: none;
    }

    .filter-section__header select {
        width: 40%;
        border-radius: 4px;
        font-family: 'Open Sans', sans-serif;
        margin: 0.3rem;
    }

    .filter-section__header h6, .items-on-the-page-select {
        display: none;
    }

    .filter-section__filters {
        position: absolute;
        left: -200px;
        top: 0;
        transition: .3s;
        background-color: #d1a8a8;
    }
}

.sample {
    position: absolute;
    top: 0;
    left: 0;
}

.sub-sample {
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 80%;
    display: block;
}

@media screen and (min-width: 426px) {
    .close-subfilter {
        display: none;
    }
    .hide-filters {
        display: none;
    }
}

.pagination > div {
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pagination button {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 15px;
    text-align: center;
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px #000;
    box-sizing: border-box;
    background-color: transparent;
}
.pagination .active {
    color: #ff00ff;
    box-shadow: 0 0 5px #f0f;
}

/* <slider */
.slider {
    background-color: #ffaaff55;
}

.slider__controls {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
    width: 90%;
    font-size: 5px;
    display: flex;
    justify-content: space-between;
}
.slider__controls > a {
    display: block;
    width: 5em;
    height: 5em;
    font-size: 0.5em;
    border-radius: 50%;
    transition: .3s;
    border: 1px solid #000;
}
.slider__controls > a:hover:not(.slider__controls-item_active) {
    border-color: #999999;
    background-color: #999999;
}
.slider__controls-item_active {
    border-color: #000000;
    background-color: #000000;
}

.slider__gallery {
    position: relative;
    height: 100vh;
}
.slider__slide {
    width: 80%;
    max-width: 1200px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    pointer-events: none;
    opacity: 0;
}
.slider__slide_active {
    pointer-events: all;
    opacity: 1;
}
.slider__slide > img {
    display: block;
    max-width: 90%;
    height: auto;
    width: auto;
    max-height: 70vh;
}
.slider__slide > div {
    max-width: 50%;
}
.slider__slide h3 {
    font-size: 30px;
}
.slider__slide p {
    margin-top: 30px;
    font-size: 18px;
}
.slider__slide a {
    margin-top: 50px;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    color: #000000;
    border: 1px solid #000;
    border-radius: 3px;
    transition: .5s;
}
.slider__slide a:hover {
    color: #eeeeee;
    background-color: #000000;
}
@media screen and (max-width: 900px) {
    .slider__slide {
        width: 95%;
        height: 100vh;
    }
    .slider__slide > img {
        max-width: 50%;
        max-height: 50vh;
    }
    .slider__slide h3 {
        font-size: 20px;
    }
    .slider__slide p {
        margin-top: 10px;
        font-size: 16px;
    }
    .slider__slide a {
        margin-top: 10px;
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .slider__slide {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .slider__slide > div {
        order: 2;
        max-width: 90%;
    }
    .slider__controls {
        top: initial;
        bottom: -60px;
        font-size: 5px;
    }
}
/* </slider */


/* contacts */
.contacts {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    color: #eeeeee;
    background-color: #000;
}
.contacts__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.contacts__desc > div {
    display: inline-block;
}
.contacts__desc p {
    margin-bottom: 10px;
}
.contacts__map {
    width: 50%;
    height: 100%;
    background-color: #ffff00;
}
@media screen and (max-width: 900px) {
    .contacts {
        display: block;
    }
    .contacts__desc, .contacts__map {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .contacts {
        height: 100vh;
    }
}
/* contacts */
